body {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    -webkit-user-select: none;
}

.web-page-canvas {
    font-family: 'Tahoma', 'serif';
}

#toolbar.web-page-canvas .hidden,
.web-page-canvas.hidden {
    display: none;
}

#toolbar.web-page-canvas .row {
    display: block;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

canvas.web-page-canvas {
    position: absolute;
    z-index: 10000000;
    top: 0;
    left: 0;
}

#toolbar.web-page-canvas.closed {
    max-height: 0;
    overflow: hidden;
}

#toolbar.web-page-canvas {
    background: linear-gradient(rgb(54, 54, 54), rgb(112, 112, 112));
    position: fixed;
    z-index: 10000001;
    user-select: none;
    transform: translate(-50%, 0);
    width: -webkit-max-content;
    max-width: 80%;
    left: 50%;
}

#toolbar.web-page-canvas.animated {
    max-height: 33px;
    overflow-y: hidden;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#toolbar.web-page-canvas.aligned-top {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    top: 0
}

#toolbar.web-page-canvas.aligned-bottom {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    bottom: 0
}

#toolbar.web-page-canvas.aligned-top .dropdown-item.top,
#toolbar.web-page-canvas.aligned-bottom .dropdown-item.bottom {
    color: graytext !important;
    cursor: context-menu !important;
}

#toolbar.web-page-canvas .tool-container:not(.active) * {
    color: graytext !important;
}

#toolbar.web-page-canvas #tool-col,
#toolbar.web-page-canvas #option-col,
#toolbar.web-page-canvas .tool-container,
#toolbar.web-page-canvas .option-container {
    display: inline-block;
    width: -webkit-max-content;
}

#toolbar.web-page-canvas #tool-col {
    border-right: 1px solid #fff;
}

#toolbar.web-page-canvas .tool-container:not(:last-child),
#toolbar.web-page-canvas .option-container:not(:last-child) {
    border-right: 1px dashed #fff;
}

#toolbar.web-page-canvas .tool-container > .tool-label,
#toolbar.web-page-canvas .option-container > .tool-label {
    color: #fff;
    font-size: 18px;
}

#toolbar.web-page-canvas .tool-container .fa,
#toolbar.web-page-canvas .option-container .fa {
    font-size: 17px;
}

#toolbar.web-page-canvas .fa-pencil-alt {
    color: #FFFF00;
}

#toolbar.web-page-canvas .tool-container:active > .tool-label,
#toolbar.web-page-canvas .option-container:active > .tool-label {
    color: #d2d2d2;
}

#toolbar.web-page-canvas .fa-paint-brush {
    color: #00FF00;
}

#toolbar.web-page-canvas .fa-paint-brush,
#toolbar.web-page-canvas .fa-floppy-disk {
    font-size: 15px;
}

#toolbar.web-page-canvas .fa-eraser {
    color: #A52A2A;
}

#toolbar.web-page-canvas .fa-bars {
    color: #87ceeb;
}

#toolbar.web-page-canvas .fa-cog {
    color: #0000ff;
}

#toolbar.web-page-canvas #cancel {
    font-size: 19px;
    position: relative;
    top: 50%;
    padding: 1px 2px 2px 1px;
    color: #FF0000;
    font-weight: bold;
    border-radius: 50%;
}

#toolbar.web-page-canvas .fa-times {
    color: #FF0000;
}

#toolbar.web-page-canvas [data-has-dropdown='true'] .fa-caret-down {
    color: #fff;
    font-size: 19px;
}

#toolbar.web-page-canvas .tool-container,
#toolbar.web-page-canvas .option-container {
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
}

#toolbar.web-page-canvas .tool-container:not(:first-child),
#toolbar.web-page-canvas .option-container {
    margin-left: -4px;
}

#toolbar.web-page-canvas .dropdown:not(.hidden) {
    background-color: #fff;
    border: 1px solid #000;
    width: -webkit-max-content;
    min-width: 100%;
    height: -webkit-max-content;
    position: absolute;
    left: 0;
    border-radius: 0 0 5px 5px;
}

#toolbar.web-page-canvas.aligned-top .dropdown {
    top: 100%;
    box-shadow: -3px 3px 2px #e8e8e8;
}

#toolbar.web-page-canvas.aligned-bottom .dropdown {
    top: 0;
    transform: translate(0, -100%);
    box-shadow: 3px -3px 2px #e8e8e8;
}

#toolbar.web-page-canvas .dropdown:not(.hidden) > .dropdown-item {
    padding: 5px;
    text-align: center;
}

#toolbar.web-page-canvas .dropdown:not(.hidden) > .dropdown-item:first-child {
    border-bottom: 1px solid #000;
}

#toolbar.web-page-canvas .dropdown:not(.hidden) > .dropdown-item:active {
    background-color: #d2d2d2;
}

#toolbar.web-page-canvas .dropdown .row {
    padding: 0 5px;
}

#toolbar.web-page-canvas .dropdown .row,
#toolbar.web-page-canvas .dropdown h3,
#toolbar.web-page-canvas .dropdown hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#toolbar.web-page-canvas .dropdown h3 {
    font-size: 16px;
    font-family: inherit !important;
    font-weight: bold !important;
    line-height: initial !important;
    color: #000 !important;
}

#toolbar.web-page-canvas .tool-container .dropdown {
    padding: 0 10px;
}

#toolbar.web-page-canvas .tool-container[title="Eraser"] .dropdown {
    min-width: 80px
}

#toolbar.web-page-canvas .tool-container[title="Highlighter"] .dropdown {
    min-width: 250px
}

#toolbar.web-page-canvas .dropdown .color {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;
}

#toolbar.web-page-canvas .dropdown hr {
    margin-left: -15px;
    margin-right: -15px;
}

#toolbar.web-page-canvas .dropdown input[type="checkbox"] {
    transform: scale(1.3, 1.3);
}

#toolbar.web-page-canvas .dropdown input[type="checkbox"] + .tool-label {
    font-size: 17.5px;
}

#toolbar.web-page-canvas .dropdown .range-value {
    position: relative;
    top: -4px;
    left: 5px;
    font-size: 18px;
}